[user]
  name = "Anton Hedström"
  email = antonhedstrom@gmail.com

[github]
  user = antonhedstrom

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

; Highlight whitespace in diffs
[color]
  ui = true

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = input
  editor = vim

[alias]
  s = status -s
  st = status
  cm = commit
  br = branch
  brs = branch -a
  co = checkout
  df = diff

  # View abbreviated SHA, auhtor and description of the latest commits
  lg = log --format='%C(auto)*%h... %C(green)%<(16,trunc)%an %C(white): %s%C(white)'
  l = log --pretty=oneline -n 20 --graph --abbrev-commit --decorate

  # https://github.com/mathiasbynens/dotfiles/blob/master/.gitconfig
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # View the current working tree status using the short format

[push]
  default = simple
